@media (min-width: 992px) {
    .ftco-intro {
        margin-top: -130px;
    }
}
.ftco-intro .row
{
    margin: 0% !important;
}
.ftco-intro .container-fluidd {
    z-index: 2 !important;
    position: relative;
}

.ftco-intro .wrap {
    width: 100%;
}

.ftco-intro .wrap .info {
    background: #000;
    padding: 30px;
}
@media (max-width :990px) {
    .ftco-intro .wrap .info {
        width: calc(100% - 35%);
        padding: 2% 5% 2% 12%;
    }
}
@media (min-width: 1200px) {
    .ftco-intro .wrap .info {
        width: calc(100% - 35%);
        padding: 2% 5% 2% 12%;
    }
}

@media (min-width: 1024px) {
    .ftco-intro .wrap .info {
        width: calc(100% - 35%);
        padding: 2% 5% 2% 12%;
    }
}

@media (max-width: 991px) {
    .ftco-intro .wrap .info {
        width: 100% !important;
    }
    .ftco-intro .wrap .book {
        width: 100% !important;
    }
}

.ftco-intro .wrap .info p {
    margin-bottom: 0;
}
.ftco-intro .wrap .book {
    width: 35%;
    background: #c49b63;
}



.ftco-intro .wrap .book h3 {
    text-transform: uppercase;
}

.ftco-intro .wrap h3 {
    font-size: 16px;
}

.ftco-intro .wrap .text {
    width: calc(100% - 40px);
}

.ftco-intro .wrap .icon {
    width: 40px;
}

.ftco-intro .wrap .icon span {
    color: #c49b63;
    font-size: 20px;
}

.text h3 {
    color: white;
}

.text p {
    color: grey;
}

.d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

/* form */

.appointment {
    padding: 20px !important;
}

@media (min-width: 768px) {
    .appointment {
        padding: 7% 12% 7% 5% !important;
    }
}

.appointment h3 {
    color: #fff;
}

.appointment-form .form-group {
    position: relative;
    width: 100%;
    display: block;
}

.appointment-form .form-group .icon {
    position: absolute;
    top: 50% !important;
    right: 0;
    font-size: 14px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.appointment-form .form-group .icon span {
    color: white !important;
}

.appointment-form .form-group .select-wrap,
.appointment-form .form-group .input-wrap {
    position: relative;
}

.appointment-form .form-group .select-wrap select,
.appointment-form .form-group .input-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.appointment-form .form-group .btn {
    width: 100%;
    display: block !important;
}

.appointment-form .form-control {
    border: transparent !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    height: 58px !important;
    padding-left: 0;
    padding-right: 0;
    background: transparent !important;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 13px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.appointment-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.9);
}

.appointment-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.9);
}

.appointment-form .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.9);
}

.appointment-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.9);
}

.appointment-form .form-control:focus,
.appointment-form .form-control:active {
    border-color: #fff;
}

.appointment-form textarea.form-control {
    height: inherit !important;
}
/* button */
.btn.btn-white {
    background: #fff;
    border: 1px solid #fff;
    color: #000;
}

.btn.btn-white:hover {
    border: 1px solid #000;
    background: #000;
    color: #fff;
}

.btn.btn-white.btn-outline-white {
    border-color: rgba(255, 255, 255, 0.8);
    background: none;
    border-width: 1px;
    color: #fff;
}
